<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="api.utilities.ExtentListenerClass"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="G:/selenium/Projects/freshAPI">
        <classes>
            <class name="api.testcases.UserTestDD">
                <methods>
                    <include name="testCreateUser"/>
                    <include name="testGetUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
            <class name="api.testcases.UserTests">
                <methods>
                    <include name="testCreateUser"/>
                    <include name="testGetUser"/>
                    <include name="testUpdateUser"/>
                    <include name="testDeleteUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>